mixin link(text, href)
    li
        a.link-dark.rounded.ms-2(href=`${href}`)=text 

#sidebar.flex-shrink-0.p-3.bg-white.d-none.d-lg-inline.col-lg-3.me-3(style='width: 250px')
    a.d-flex.align-items-center.pb-3.mb-3.link-dark.text-decoration-none.border-bottom(href='/')
        span.fs-5.fw-semibold Categories

    ul.list-unstyled.ps-0
        li.mb-1.main-categotries
            #home-collapse.collapse.show
                ul.btn-toggle-nav.list-unstyled.fw-normal.ps-1.pb-1.small
                    +link('Mobile Technology', 'categories/Mobile Technology')
                    +link('Java', 'categories/Java')
                    +link('Web Development', 'categories/Web Development')
                    +link('Software Engineering', 'categories/Software Engineering')
                    +link('Microsoft/.NET', 'categories/Microsoft .NET')
                    +link('Microsoft', 'categories/Microsoft')
                    +link('Programming', 'categories/Programming')
                    +link('Open Source', 'categories/Open Source')
                    +link('Mobile', 'categories/Mobile')
                    +link('Perl', 'categories/Perl')
                    +link('Python', 'categories/Python')
        li.border-top.my-3

.b-example-divider