doctype html 
html 
    head 
        include _head

    body 
        // navbar
        include _navbar

        // content
        block content
          
        // footer
        include _footer
        
        // script
        include _script
