extends base
include _bookCol

mixin cateigories(icon, text)
    .col-md-5.col-lg-3.categories-card.pt-4
        a.link-dark.categories-card-icon(href='#')
            i(class=`fa-solid fa-${icon}`)
        h3.card-title.mt-4= text

block content
    // landing 
    .landing.d-flex.justify-content-center.align-items-center
        .text-center.text-light
            h1.m-3.fw-bold.landing-heading READ MORE!
            p Booky, All Books In Same Place
            p.landing-p.fs-6.mb-5 Explore More than 
                span.fw-semibold 4K Books 
                |Without any restrictions .Feel free to review, read and book any book
            a.btn.btn-warning.btn-main.btn-lg.text-uppercase(href='#books-categories') Get Start

    // sidebar
    include _sidebar

    // categories
    #books-categories.container.text-center.mt-5
        .row.categories-row
            .col-md-5.col-lg-3.categories-card.pt-4
                a.link-dark.categories-card-icon(href='#')
                    .stars.mt-2
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                        i.fa-solid.fa-star
                h3.card-title.mt-4 Top Rating

            +cateigories('book', 'New Releases')    
            +cateigories('person-walking-luggage', 'Coming Soon')    
            +cateigories('tags', 'OFF 50%')    



    .container.text-center.books-container.mt-5
        .row.books-row
            a.link-dark(href='#' style='text-decoration: none')
                h2.books-categories-title.mb-5 Web Development Books
            .books-holder.card-group.overflow-auto.d-flex.flex-nowrap
                button.btn.btn-arrow.books-holder-left-arrow-btn.rounded-circle.pb-0.p-2.mb-5.rounded
                    i.fa-solid.fa-angle-left 
                each book in webBooks   
                    - let newPrice = (book.price- (book.price / 100 * book.discountRate)).toFixed(2)
                    +bookCol(book.slug, book.title, book.ratingsQuantity, book.price, newPrice, book.discountRate, book.ratingsAverage)
                button.btn.btn-arrow.books-holder-right-arrow-btn.rounded-circle.pb-0.p-2.mb-5.rounded
                    i.fa-solid.fa-angle-right
        a.text-uppercase.m-4.me-5.float-end(href=`#`)  See More ... 

    .container.text-center.books-container.mt-5.ms-7
        .row.books-row
            a.link-dark(href='#' style='text-decoration: none')
                h2.books-categories-title.mb-5 Programming Books
            .books-holder.card-group.overflow-auto.d-flex.flex-nowrap
                button.btn.btn-arrow.books-holder-left-arrow-btn.rounded-circle.pb-0.p-2.mb-5.rounded
                    i.fa-solid.fa-angle-left
                each book in programmingBooks   
                    - let newPrice = (book.price- ((book.price / 100 ) * book.discountRate)).toFixed(2)
                    +bookCol(book.slug, book.title, book.ratingsQuantity, book.price, newPrice, book.discountRate, book.ratingsAverage)
                button.btn.btn-arrow.books-holder-right-arrow-btn.rounded-circle.pb-0.p-2.mb-5.rounded
                    i.fa-solid.fa-angle-right
        a.text-uppercase.m-4.me-5.float-end(href='#')  See More ...

    .container.text-center.books-container.mt-5.ms-7
        .row.books-row
            a.link-dark(href='#' style='text-decoration: none')
                h2.books-categories-title.mb-5 Java Books
            .books-holder.card-group.overflow-auto.d-flex.flex-nowrap
                button.btn.btn-arrow.books-holder-left-arrow-btn.rounded-circle.pb-0.p-2.mb-5.rounded
                    i.fa-solid.fa-angle-left
                each book in javaBooks    
                    - let newPrice = (book.price- (book.price / 100 * book.discountRate)).toFixed(2)
                    +bookCol(book.slug, book.title, book.ratingsQuantity, book.price, newPrice, book.discountRate,  book.ratingsAverage)
                button.btn.btn-arrow.books-holder-right-arrow-btn.rounded-circle.pb-0.p-2.mb-5.rounded
                    i.fa-solid.fa-angle-right
        .see-more-link.m-4.me-5.float-end
         a.text-uppercase(href='#')  See More ...
