:root {
  --dark-color: #2c2c2c;
  --light-color: rgb(224, 222, 222);
  --light-blue-color: rgb(188, 232, 243);
  --green-color: rgb(18, 192, 140);
  --light-blue-color: rgb(60, 216, 255);
  --red-color: rgb(194, 19, 19);
  --yellow-color: rgb(209, 183, 34);
  --section-color: #fafafa;
}

body {
  font-family: 'Roboto', sans-serif;
}

.btn-main {
  padding: 0.5rem 1rem;
}
.btn-main:hover {
  color: #000000;
  background-color: #0494c900;
  border: 3px solid #e0c213;
}

.btn-arrow {
  font-size: larger;
  color: var(--dark-color);
  background-color: var(--section-color);
  height: 50px;
  width: auto;
  text-align: center;
}

.categories-card {
  font-family: barlow;
  height: 150px;
  padding: 20px;
}
.categories-card-icon {
  text-decoration: none;
}
.categories-card h3 {
  color: var(--light-blue-color);
}

/* Start Navbar */
.navbar {
  background-color: var(--dark-color);
}
.navbar-brand {
  color: white;
  align-items: center;
}
.nav-logo {
  width: 120px;
}
.navbar-nav .nav-item .justify-content-md-center .form-inline input {
  margin-right: 0;
  display: inline;
  padding: 0.37rem;
  border: 2px solid grey;
}

.navbar-nav .nav-item .justify-content-md-center .form-inline button {
  margin-left: 0;
  background-color: #ffffff;
  border: 2px solid grey;
  width: 60px;
  height: 40px;
}
.navbar-nav .nav-item .justify-content-md-center .form-inline button:hover {
  color: white;
  background-color: #363636;
}

.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border: 1px solid white;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.user-avatar {
  background-color: #9795956e;
  /* border: 1px solid white; */
}
.user-avatar-img {
  width: 35px;
}
.btn-nav-logout h4 {
  background-image: linear-gradient(45deg, #78d0f3, #42af8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-nav-logout h4 {
  color: white;
}

.user-name {
  font-size: 8px;
  text-align: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
}

.nav-userName {
  color: var(--green-color);
}
.nav-userName:hover {
  color: var(--section-color);
}

.btn-nav-chart {
  background-color: transparent;
}
.btn-nav-chart svg {
  color: #ffffff;
}
.user-chart {
  font-size: larger;
  color: #fafafa;
  border-radius: 50%;
  text-align: center;
}
.user-chart span {
  color: var(--green-color);
}

/* End Navbar */

/*Sidebar*/
.flex-shrink-0 {
  float: left;
  min-height: 100%;
}
.flex-shrink-0 a span {
  color: var(--light-blue-color);
}
.main-sidebar-btn {
  background-color: var(--dark-color);
  color: #ffffff;
}

/* Start Landing */
.landing {
  /* background-color: var(--dark-color); */
  background-image: url(../img/book2-blured.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: calc(100vh - 72px);

  z-index: 1;
}
.landing-heading {
  color: var(--yellow-color);
}
.landing-p span {
  color: var(--light-blue-color);
}

/*End Landing*/

/* Start categories*/
.categories-row {
  border: 2px solid var(--dark-color);
  border-style: solid none;
}
.col .stars {
  color: var(--dark-color);
}
.categories-card-icon .fa-book,
.fa-person-walking-luggage,
.fa-tags {
  font-size: 34px;
}
/*End categories*/

/* Start Books */
.books-container {
  height: 700px;
}
.books-categories-title {
  margin-top: 32px;
}
.row {
  align-items: center;
  position: relative;
}
.books-holder::-webkit-scrollbar {
  display: none;
}
.books-holder::before {
  position: absolute;
  content: '';
  left: 0;
  top: 19%;
  z-index: 90;
  height: 81%;
  width: 150px;
  background-image: linear-gradient(90deg, rgb(255, 255, 255), transparent);
}
.books-holder::after {
  position: absolute;
  content: '';
  right: 0;
  top: 19%;
  z-index: 90;
  height: 81%;
  width: 150px;
  background-image: linear-gradient(-90deg, rgb(255, 255, 255), transparent);
}

.books-holder-left-arrow-btn {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 99;
}

.books-holder-right-arrow-btn {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  z-index: 99;
}

.card-title {
  height: 50px;
}
.book-card {
  height: 500px;
  max-height: 500px;
  min-height: 500px;
  padding: 16px;
}

.card-rating-stars svg {
  color: gold;
}
.list-group-item {
  border: none;
}
.card-price {
  height: 64px;
  max-height: 64px;
  min-height: 64px;
}
.oldprice,
.newprice {
  color: red;
}
.card-body button:hover {
  transition: 10ms;
  transition-delay: 10ms;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.btn-more:hover {
  color: black;
  border: 3px solid var(--light-blue-color);
}
/* End Books*/

/* Start Footer */
.social-media div {
  width: 60px;
}
/* End Footer */

/* End overview */

/* Start BOOK PAGE */
.book-thumbnail img {
  width: 300px;
  height: 400px;
}
.book-main-title {
  background-image: linear-gradient(
    45deg,
    var(--light-blue-color),
    var(--green-color)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.book-qucik-info {
  border: 1px solid var(--dark-color);
  border-style: none none solid none;
}
.byAtuhor h3 {
  font-weight: lighter;
  color: var(--dark-color);
}
.byAtuhor span {
  color: var(--light-blue-color);
}
.book-format {
  background-color: rgba(189, 189, 189, 0.473);
  border: 1px solid var(--dark-color);
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
}
.book-format:hover {
  border: 1px solid var(--light-blue-color);
}
.book-format h5:hover {
  color: var(--yellow-color);
}

.btn-addChart:hover {
  color: #2c2c2c;
  border: 2px solid var(--green-color);
}

/* Start Book details*/
.book-details__el {
  height: 60px;
}

/* End Book details*/

/* Reviews */
.reviews-container {
  background-color: #dadada77;
  border-radius: 10px;
}
.review-user__info-avatar {
  width: 45px;
  height: 45px;
  padding: 5px;
}
.review-user__info-rate svg {
  color: gold;
}

/*End Reviews*/

/*Start Progress*/
.progress {
  text-align: center;

  margin: 20px;
  width: 50%;
}
/*End Progress*/
/* END BOOK PAGE */

/* START USER PAGE */
.user-page_container {
  background-color: #f1f1f167;
}
.user-sidebar {
  width: 280px;
  height: 885px;
}
.account-setting__form input {
  width: 520px;
}
.form__user-photo {
  width: 35px;
}
.account-setting__title {
  background-image: linear-gradient(45deg, #78f3e3, #42af78);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.account-setting__form label {
  color: #00000091;
}
/* END USER PAGE */

@media only screen and (max-width: 992px) {
  .navbar-nav {
    width: fit-content;
  }
  .navbar-nav .nav-item .justify-content-md-center .form-inline input {
    max-width: 200px;
    margin: 0;
  }
  .user-avatar {
    display: block;
    margin: 0;
  }
  .user-avatar-img {
    text-align: center;
    margin: 0;
  }
  .ad-photo {
    width: 400px;
    /* margin-left: 500px; */
  }
  .book-card {
    margin-bottom: 16px;
    min-height: 520px;
  }
  .user-sidebar {
    height: 100%;
  }
  .account-setting__form input {
    width: 300px;
  }
}
