:root {
  --dark-color: #2c2c2c;
  --light-color: rgb(224, 222, 222);
  --light-blue-color: rgb(188, 232, 243);
  --green-color: rgb(18, 192, 140);
  --light-blue-color: rgb(60, 216, 255);
  --red-color: rgb(194, 19, 19);
  --yellow-color: rgb(209, 183, 34);
  --section-color: #fafafa;
}

::selection {
  background-color: var(--light-blue-color);
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}
a {
  cursor: pointer;
}
.hidden {
  display: none;
}
.w-90 {
  width: 90%;
}
.ms-7 {
  margin-left: 15rem !important;
}
.ms-6 {
  margin-left: 11.2rem !important;
}
.btn-info {
  color: var(--section-color);
}
.alert {
  width: 300px;
}
.success-icon {
  color: var(--green-color);
}
.err-icon {
  color: var(--red-color);
}
.alert-icon {
  background-color: #c9bdbdef;
}
.alert-icon svg {
  font-size: 25px;
}
.alert-close button {
  font-size: 15px;
  background-color: #9b9b9b;
}
.btn-main {
  padding: 0.5rem 1rem;
}
.btn-arrow {
  font-size: larger;
  color: var(--dark-color);
  background-color: transparent;
  height: 50px;
  width: 50px;
  text-align: center;
}
.btn-arrow:hover {
  border-color: transparent;
}
.btn-arrow svg:hover {
  font-size: 30px;
}
.categories-card {
  font-family: barlow;
  height: 150px;
  padding: 20px;
}
.categories-card-icon {
  text-decoration: none;
}
.categories-card h3 {
  color: grey;
}

.navbar {
  background-color: var(--dark-color);
}
.navbar-brand {
  color: white;
  align-items: center;
}
.nav-logo {
  width: 120px;
}
.navbar-nav .nav-item .justify-content-md-center .form-inline input {
  margin-right: 0;
  display: inline;
  padding: 0.37rem;
  border: 2px solid grey;
}

.navbar-nav .nav-item .justify-content-md-center .form-inline button {
  margin-left: 0;
  background-color: #ffffff;
  border: 2px solid grey;
  width: 60px;
  height: 40px;
}
.navbar-nav .nav-item .justify-content-md-center .form-inline button:hover {
  color: white;
  background-color: #363636;
}

.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border: 1px solid white;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.user-info .user-avatar button:hover {
  outline: none;
}
.user-avatar-img {
  background-color: #e1f6f757;
  width: 50px;
  height: 50px;
}

.nav-userName {
  color: var(--section-color);
}
.nav-userName:hover,
.btn-nav-logout:hover {
  color: var(--section-color);
}

.btn-nav-chart {
  background-color: transparent;
}
.btn-nav-chart svg {
  color: #ffffff;
  font-size: 25px;
}
.user-chart {
  font-size: larger;
  color: #fafafa;
  border-radius: 50%;
  text-align: center;
}
.user-chart span {
  color: var(--green-color);
}

.flex-shrink-0 {
  float: left;
  /* min-height: 100%; */
}
.flex-shrink-0 a span {
  color: var(--light-blue-color);
}
.main-sidebar-btn {
  background-color: var(--dark-color);
  color: #ffffff;
}

.landing {
  background-image: url(../img/book2-blured.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: calc(100vh - 72px);

  z-index: 1;
}
.landing-heading {
  color: var(--yellow-color);
}
.landing-p span {
  color: var(--light-blue-color);
}
.banner-container {
  width: 1200px;
  height: 700px;
}
.categories-row {
  border: 2px solid var(--dark-color);
  border-style: solid none;
}
.col .stars {
  color: var(--dark-color);
}
.categories-card-icon .fa-book,
.fa-person-walking-luggage,
.fa-tags {
  font-size: 34px;
}

.books-categories-title {
  margin-top: 32px;
}
.row {
  align-items: center;
  position: relative;
}
.books-holder::-webkit-scrollbar {
  display: none;
}
.books-holder::before {
  position: absolute;
  content: '';
  left: 0;
  top: 19%;
  z-index: 90;
  height: 81%;
  width: 150px;
  background-image: linear-gradient(90deg, rgb(255, 255, 255), transparent);
}
.books-holder::after {
  position: absolute;
  content: '';
  right: 0;
  top: 19%;
  z-index: 90;
  height: 81%;
  width: 150px;
  background-image: linear-gradient(-90deg, rgb(255, 255, 255), transparent);
}

.books-holder-left-arrow-btn {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 99;
}

.books-holder-right-arrow-btn {
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  z-index: 99;
}

.card-title {
  height: 50px;
}
.book-card {
  height: 500px;
  max-height: 500px;
  min-height: 500px;
  padding: 16px;
}

.card-rating-stars svg {
  color: gold;
}
.list-group-item {
  border: none;
}
.card-price {
  height: 64px;
  max-height: 64px;
  min-height: 64px;
}
.oldprice,
.newprice {
  color: red;
}
.card-body button:hover {
  transition: 10ms;
  transition-delay: 10ms;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.btn-more:hover {
  color: black;
  border: 3px solid var(--light-blue-color);
}

.social-media div {
  width: 60px;
}

.book-thumbnail img {
  width: 300px;
  height: 400px;
}
.book-main-title {
  background-image: linear-gradient(
    45deg,
    var(--light-blue-color),
    var(--green-color)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.book-qucik-info {
  border: 1px solid var(--dark-color);
  border-style: none none solid none;
}
.byAtuhor h3 {
  font-weight: lighter;
  color: var(--dark-color);
}
.byAtuhor span {
  color: var(--light-blue-color);
}
.book-format {
  background-color: rgba(189, 189, 189, 0.473);
  border: 1px solid var(--dark-color);
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}
.book-format:hover {
  border: 1px solid var(--light-blue-color);
  background-color: var(--section-color);
}
.book-format h5:hover {
  color: var(--yellow-color);
}

.btn-addChart:hover {
  color: #2c2c2c;
  border: 2px solid var(--green-color);
}

.book-details__el {
  height: 60px;
}

.reviews-container {
  background-color: #dadada77;
  border-radius: 10px;
}
.review-user__info-avatar {
  width: 45px;
  height: 45px;
  padding: 5px;
}
.review-user__info-rate svg {
  color: gold;
}

.progress {
  text-align: center;
  margin: 20px;
  width: 50%;
}

.user-page_container {
  background-color: #f1f1f167;
}
.user-sidebar {
  width: 280px;
  height: 910px;
}
.account-setting__form input {
  width: 520px;
}
.form__user-photo {
  width: 50px;
  height: 50px;
}
.choose-photo__label {
  cursor: pointer;
}
.choose-photo__label:hover {
  color: rgba(255, 255, 255, 0.836) !important;
  background-color: var(--light-blue-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.account-setting__title {
  background-image: linear-gradient(45deg, #78f3e3, #42af78);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.account-setting__form label {
  color: #00000091;
}

/* Error */
.main {
  position: relative;
  background-color: #f7f7f7;
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: calc(100% - 353px);
  min-width: 100%;
}
.error {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
  min-width: 100%;
}
.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#6fd2d5),
    to(#2898b4)
  );
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}
.heading-secondary--error {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#6fd2d5),
    to(#2898b4)
  );
  background-image: linear-gradient(to right, #30e0ff, #4b90eb);
  font-size: 3.5rem;
}

.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    width: fit-content;
  }
  .navbar-nav {
    margin-left: 130px;
  }
  .navbar-nav .nav-item .justify-content-md-center .form-inline input {
    max-width: 200px;
    margin: 0;
  }
  .user-avatar {
    display: block;
    margin: 0;
  }
  .user-avatar-img {
    text-align: center;
    margin: 0;
    width: 40px;
  }
  .ad-photo {
    width: 400px;
  }
  .book-card {
    margin-bottom: 16px;
    min-height: 520px;
  }
  .user-sidebar {
    height: 100%;
  }
  .account-setting__form input {
    width: 300px;
  }
  .main {
    margin-top: 48px;
    height: 500px;
  }
  /* .banner-container {
    width: 1200px;
    height: 700px;
  } */
}
